body {
  padding: 30px;
  margin: 0px;
  font-family: sans-serif;
}
.card {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  padding-top: 40px;
}
.cardSize {
  display: flex;

  flex-direction: column;
  border: 2px solid black;
  box-shadow: 4px 4px px 4px gray;
  padding: 15px;
  border-radius: 5px;
}

.search {
  display: flex;
  border: 2px solid;
  border-radius: 6px;
  overflow: hidden;
  align-items: center;
}
.search span {
  padding-inline: 0.5rem;
  cursor: pointer;
}
.search input {
  outline: none;
  width: 100%;
  height: 2.5rem;
  padding: 0.2rem;
  font-size: 1rem;
  border: none;
}
input {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}
.textfield {
  margin-top: -10px;
  margin-bottom: 10px;
  border: 2px solid;
  border-radius: 6px;
  width: 100%;
  height: 2.5rem;
  padding: 0.2rem;
  font-size: 1rem;
}
button {
  background-color: black;
  height: 40px;
  width: 180px;
  color: whitesmoke;
  font-size: large;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.textfield::-webkit-outer-spin-button,
.textfield::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.loader {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
}

.loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 4px;
  border: 4px solid #3498db;
  border-radius: 50%;
  animation: loader-animation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #3498db transparent transparent transparent;
}

.loader div:nth-child(1) {
  animation-delay: -0.45s;
}

.loader div:nth-child(2) {
  animation-delay: -0.3s;
}

.loader div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes loader-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
}

@media screen and (max-width: 500px) {
  .card {
    display: grid;
    grid-template-columns: auto;
  }
}
